osa0/sekvenssikaavio_siirtyminen_SPA-versioon.txt
osa0/sekvenssikaavio_uuden_muistiinpanon_luominen.txt
osa0/sekvenssikaavio_uuden_muistiinpanon_luominen_SPA-versiossa.txt

/osa4/.env
/osa4/node_modules