{
  "env": { "browser": true, "es6": true, "node": true },
  "extends": "react",
  "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "eqeqeq": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "noConsole": 0,
    "jsx-quotes": ["error", "prefer-single"],
    "no-alert": 0
  }
}
